{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>SignUp</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            .container-fluid{
                height: 100vh;
                display: flex;
                background-image: url("{% static 'images/slider-image3.jpg' %}");
            }
           .card{
               min-width: 400px;
               min-height: 400px;
               margin-top:auto;
               margin-bottom: auto;
               margin-left: 100px;
               opacity: 90%;
               };
        </style>
    </head>
    <body>
        <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="card-title"><h2>SignUp</h2></div>
                <form method="POST" enctype= "multipart/form-data">
                  {% csrf_token %}
                  <!-- {{form}} -->
                    <div class="row">
                        <div class="col">
                    <div class="form-group">
                      <label for="fname">First Name:</label>
                      <!-- <input type="text" class="form-control" placeholder="Enter FirstName" id="fname"> -->
                      {{form.f_name}}
                    </div>
                    <div class="form-group">
                        <label for="mname">Middle Name:</label>
                        <!-- <input type="text" class="form-control" placeholder="Enter MiddleName" id="mname"> -->
                        {{form.m_name}}
                    </div>
                    <div class="form-group">
                        <label for="lname">Last Name:</label>
                        <!-- <input type="text" class="form-control" placeholder="Enter LastName" id="lname"> -->
                        {{form.l_name}}
                    </div>
                    </div>
                    <div class="col">
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <!-- <input type="email" class="form-control" placeholder="Enter Email" id="email"> -->
                        {{form.email}}
                    </div>
                    <div class="form-group">
                      <label for="pwd">Password:</label>
                      <!-- <input type="password" class="form-control" placeholder="Enter Password" id="pwd"> -->
                      {{form.password1}}
                    </div>
                    <div class="form-group">
                        <label for="repwd">Re-Enter Password:</label>
                        <!-- <input type="password" class="form-control" placeholder="Re-Enter Password" id="repwd"> -->
                        {{form.password2}}
                      </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="address1">Enter Address1:</label>
                            <!-- <input type="text" class="form-control" placeholder="Enter HouseNo./Locality" id="address1"> -->
                            {{form.address_line_1}}
                          </div>
                          <div class="form-group">
                            <label for="address2">Enter Address2:</label>
                            <!-- <input type="text" class="form-control" placeholder="Enter Landmark/City" id="address2"> -->
                            {{form.address_line_2}}
                          </div>
                          <div class="form-group">
                            <label for="pincode">Enter Pincode:</label>
                            <!-- <input type="number" class="form-control" placeholder="Enter Pincode" id="pincode"> -->
                            {{form.pin_code}}
                          </div>
                    </div>
            </div>
            <div class="form-group">
              <label for="pincode">Enter Pincode:</label>
              <!-- <input type="number" class="form-control" placeholder="Enter Pincode" id="pincode"> -->
              {{form.profile_image}}
            </div>
            <button type="submit" class="btn btn-danger">SignUp</button>
                  </form><br>
                  <a href="{% url "login" %}" style="color:black;">Already have an account? LogIn here!</a>
            </div>
          </div>
        </div>
    </body>
</html>
