{% load static %}
{% load giverange %}

<!DOCTYPE html>
<html lang="en">
<head>
     <title>HHH EATS</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="{% static 'css/menu.css' %}">

</head>
<body>
  <a href="{% url 'login' %}" class="navbar-brand">HHHEATS</a>
  <div id="menu" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">
                    <div class="col-md-6 col-sm-6">
                         <div class="menu-thumb">
                              <a href="{% static 'images/menu-image1.jpg' %}" class="image-popup" title="American Breakfast">
                                   <img src="../static/images/menu-image1.jpg" class="img-responsive" alt="">
                              </a>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="menu-thumb">
                              <a href="images/menu-image2.jpg" class="image-popup" title="Self-made Salad">
                                   <img src="../static/images/menu-image2.jpg" class="img-responsive" alt="">
                              </a>
                         </div>
                         <div class="menu-thumb">
                            <a href="images/menu-image3.jpg" class="image-popup" title="Chinese Noodle">
                                 <img src="../static/images/menu-image3.jpg" class="img-responsive" alt="">
                            </a>
                       </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="menu-thumb">
                            <a href="images/menu-image4.jpg" class="image-popup" title="Rice Soup">
                                 <img src="../static/images/menu-image4.jpg" class="img-responsive" alt="">
                            </a>
                       </div>
                       <div class="menu-thumb">
                        <a href="images/menu-image5.jpg" class="image-popup" title="Project title">
                             <img src="../static/images/menu-image5.jpg" class="img-responsive" alt="">
                        </a>
                   </div>
                    </div>
                    <div class="resname">{{rest.rname}}</div>
                    <div class="rating">
                    {% for i in rest.rating|val %}

                    <span class="fa fa-star checked"></span>
                    {% endfor %}
                    <!-- <span class="fa fa-star checked"></span> -->
                    <!-- <span class="fa fa-star checked"></span> -->
                    <!-- <span class="fa fa-star"></span> -->
                    <!-- <span class="fa fa-star"></span> -->
                    <div class="review">100 Reviews</div>
                    </div>
               </div>
               <div class="resinfo">
                    <div>Speciality:{{rest.speciality}}</div>
                    <div>Hours:{{rest.hours}}</div>
                    <div>Cost:{{rest.min_ord}}</div>
                    <div>Address:{{rest.location}}</div>
               </div>
          </div><hr>
          <div class="fooditems">Menu <a href="{% url "cart" r_id %}"><button type="button" class="btn btn-danger">View Cart<i class="fa fa-shopping-cart" aria-hidden="true"></i>{{request.user|cart}}</button></a>  </div>

          {% for i in menu.r_menu.all %}
          <form method="POST">
               {% csrf_token %}
          <div class="food-item">{{i.fname}}<span class="food-cost">Rs.{{i.price}}&nbsp;&nbsp;&nbsp; <a href="{% url 'NewOrder' pk=i.id rid=rest.id %}"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>&nbsp;&nbsp;<a href="{% url 'remove order' pk=i.id rid=rest.id %}"><i class="fa fa-minus-square-o" aria-hidden="true"></i></a></span>

          <div class="food-desc">{{i.description}}</div>
          </form>
          {% endfor %}

          <!-- <div class="food-item">Fried Mac n' Cheese<span class="food-cost">$22&nbsp;&nbsp;&nbsp;<i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;0&nbsp;<i class="fa fa-minus-square-o" aria-hidden="true"></i></span> -->
          <!-- <div class="food-desc">Served with BBQ ranch</div> -->

          <!-- <div class="food-item">BBQ Soul Rolls<span class="food-cost">$18&nbsp;&nbsp;&nbsp;<i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;0&nbsp;<i class="fa fa-minus-square-o" aria-hidden="true"></i></span> -->
          <!-- <div class="food-desc">Chopped pork BBQ, cabbage collards and candied carrots served with Oak Island sauce and pepper jelly          </div> -->

          <!-- <div class="food-item">Pimento Cheese Balls<span class="food-cost">$10&nbsp;&nbsp;&nbsp;<i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;0&nbsp;<i class="fa fa-minus-square-o" aria-hidden="true"></i></span> -->
          <!-- <div class="food-desc">Served with spicy pepper jelly</div> -->
          </div>
     </div>
</body>
</html>
