<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
     <title>HHH EATS</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="{% static "css/order.css" %}">
</head>

<body>
    <a href="{% url "ListRestaurant" %}" class="navbar-brand">HHHEATS</a>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card" id="usercart">
                    <div class="card-header" >Your Cart<i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                    <div class="card-body">
                      {%for item in order.items.all %}
                        <div class="food-item">{{ item.item_id.fname }}<span class="food-cost">₹{{ item.item_id.price }}&nbsp;&nbsp;&nbsp;<a href="{%url "NewOrderCart" pk=item.item_id.id rid=order.r_id.id %}"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>&nbsp;{{ item.quantity }}&nbsp;<a href="{% url "RemoveOrderCart" pk=item.item_id.id rid=order.r_id.id %}"><i class="fa fa-minus-square-o" aria-hidden="true"></i></a></span></div>
                        {% comment %} <div class="food-item">Fried Mac n' Cheese<span class="food-cost">$22&nbsp;&nbsp;&nbsp;<i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;0&nbsp;<i class="fa fa-minus-square-o" aria-hidden="true"></i></span></div> {% endcomment %}
                        {% comment %} <div class="food-item">Fried Mac n' Cheese<span class="food-cost">$22&nbsp;&nbsp;&nbsp;<i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;0&nbsp;<i class="fa fa-minus-square-o" aria-hidden="true"></i></span></div> {% endcomment %}
                        {% comment %} <div class="food-item">Fried Mac n' Cheese<span class="food-cost">$22&nbsp;&nbsp;&nbsp;<i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;0&nbsp;<i class="fa fa-minus-square-o" aria-hidden="true"></i></span></div> {% endcomment %}
                      {% endfor %}
                        <hr>
                        <div class="total">Grand Total<span class="total-cost">₹{{ order.total_amount }}</span></div>
                        <a href="{% url "checkout" rid=rest_id %}"><button type="button" class="btn btn-danger btn-block">Place Order!</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
