{% load static %}
{% load giverange %}
<!DOCTYPE html>
<html lang="en">
<head>
     <title>HHH EATS</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="{% static 'css/restaurant.css' %}">

</head>
<body>
  <a href="{% url 'login' %}" class="navbar-brand">HHHEATS</a>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="card" id="filters">
          <div class="card-header" >Filters</div>
          <div class="card-body">
            <div class="categories">Sort By</div><br>
            <div class="sort">Popularity  <span class="sortorder">-high to low</span></div>
            <div class="sort">Cost  <span class="sortorder">-low to high</span></div>
            <div class="sort">Cost  <span class="sortorder">-high to low</span></div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="subtitle">Nearby Restaurants</div>
                  {% for i in Restaurants %}
                  <!-- {{i}} -->
                  <div class="card shadow-sm p-3 mb-5 bg-white rounded" id="ind_res">
                    <div class="card-header"><div><img class="card-img-top" src="{{i.r_logo.url}}" alt="Card image cap"></div>
                    <p class="card-title" >{{i.rname}}</p>
                    {% for j in i.rating|val %}
                    <span class="fa fa-star checked"></span>
                    {% endfor %}
                    <!-- <span class="fa fa-star checked"></span> -->
                    <!-- <span class="fa fa-star checked"></span> -->
                    <!-- <span class="fa fa-star"></span> -->
                    <!-- <span class="fa fa-star"></span> -->
                    <span class="rating">{{i.rating}}(100 Reviews)</span>
                  </div>
                    <div class="card-body">
                      <div>Speciality:<span class="value">{{i.speciality}}</span></div>
                      <div>Cost:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">{{i.min_ord}}</span></div>
                      <div>Hours:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">{{i.hours}}</span></div>
                      <div>Address:&nbsp;&nbsp;&nbsp;<span class="value">{{i.location}}</span></div>
                    </div>
                    <div class="card-footer">
                      <span><button type="button" class="btn btn-default" id="callnow" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-phone-square" aria-hidden="true"></i>Call Now!</button>
                      </span>
                      <span> <a href="{% url 'restuarantMenu' pk=i.id %}"><button type="button" class="btn btn-default" id="viewmenu"><i class="fa fa-bars" aria-hidden="true"></i>View Menu</button></a>
                      </span>
                </div>
                </div>
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Phone Number</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        {{i.phone}}
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
          </div>
        </div>
  
</body>
</html>