@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  background-color: #f3f3f3;
  color: #33373d;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

nav {
  margin-bottom: 50px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #33373d;
  margin-left: 50px;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 50px;
  font-weight: bold;
}

.avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 5px;
}

.subtitle {
  font-size: 30px;
  font-weight: bold;
}

a:hover,
a:active,
a:focus {
  color: #ce3232;
  outline: none;
}

#filters {
  height: auto;
  /* opacity: 95%; */
}

#filters .card-header {
  /* margin-top: 10px;
  margin-left: 10px; */
  font-weight: bold;
  font-size: 20px;
  background-color: white;
}

#filters .card-body {
  line-height: 20px;
}

#filters .categories {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}

.sort {
  font-size: 13px;
  font-weight: normal;
}

.sortorder {
  font-size: 10px;
  font-weight: bold;
  margin-left: 5px;
}

#ind_res .card-header {
  font-weight: bold;
  font-size: 14px;
  background-color: white;
}

#ind_res .card-title {
  font-size: 20px;
  font-weight: bold;
  color: #ce3232;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  line-height: 20px;
}

#ind_res .card-body {
  font-size: 14px;
  font-weight: bold;
}

.value {
  font-weight: lighter;
  margin-left: 50px;
}

#ind_res .card-footer {
  font-weight: bold;
  font-size: 14px;
  background-color: white;
}

.btn-default {
  font-size: 14px;
  font-weight: bold;
}

.card-img-top {
  width: 150px;
  height: 100px;
  float: left;
  margin-right: 5px;
  border-radius: 5px;
}

p {
  text-align: justify;
}

#viewmenu {
  margin-left: 20px;
}

.checked {
  color: orange;
}

.rating {
  font-size: 12px;
}

.fa-phone-square {
  margin-right: 2px;
}

.fa-bars {
  margin-right: 2px;
}

#guide {
  border-radius: 10px;
}

#guide img {
  border-radius: 10px;
}

.modal-body {
  font-weight: bold;
  color: #ce3232;
}
